*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	outline: none;
    font-family: sans-serif ;
}

.bgCustomGray {
    background-color: #D5DADE
}
.bgCustomTLight {
    background-color: #4F8392;
}
.bgCustomTDark {
    background-color: #205B6B;
}
.btn-success {
    background-color: #28A745;
}
.btn-danger {
    background-color: #DC3545;
}
.btn {
    margin: 50px;
    padding: 10px;
    border-radius: 5px;
    color: #D5DADE;
}

body {
    background-color: rgb(255, 255, 255);
    display: grid;
}
.header {
    height: 120px;
    background: rgb(32,91,107);
    background: linear-gradient(90deg, rgba(32,91,107,1) 0%, rgba(79,131,146,1) 50%, rgba(213,218,222,1) 100%);
}
h1 {
    height: 120px;
    font-size: 3em;
    margin-top: 30px;
    margin-left: 30px;
    color: #D5DADE;
    text-shadow: 2px 2px 4px black;
}

.container{
    padding: 30px 0px 30px 30px;
    width: 330px;
}

.barraAgregar {
    padding-left: 30px;
    height: 70px;
}

.titulos {
    margin-left: 10px;
}

.divInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.divInput h5 {
    margin-bottom: 5px;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3fr;
    align-items: center;
    gap: 30px;
}

.tabla {
    height: 30px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 5px;
}

.items label {
    width: 30px;
}

#total {
    padding-left: 30px;
    padding-top: 10px;
    height: 40px;
}

.buttons button {
    color: white;
    background-color: rgb(64, 64, 64);
    margin: 10px;
}

.agregar {
    padding: 10px;
    border-radius: 5px;
}

.eliminar {
    width: 70px;
    margin-left: 30px;
}

.reiniciar {
    background-color: #DC3545 !important;
}

.bodyDos {
    margin: 30px;
}

.dolar {
    width: 200px;
    height: 100px;
    border: solid black;
    position: absolute; 
    top: 16px;
    right: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    border-radius: 20px;
}
.dolar, h3 {
    place-items: center;
}
    
.compra, .venta {
    display: flex;
    gap: 20px;
}



/*------------------------mobile-----------------------*/

@media (max-width: 768px){
.header {
    height: 150px;
}
.dolar {
    position: relative;
    width: auto;
    top: 0px;
    right: 0px;
    border-radius: 0px;  
}
.items {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.barraAgregar{
    padding-left: 0px;
    padding-top: 15px;
    height: 250px;
    margin-top: 100px;
}
.container {
    padding: 0px;
    width: auto;
    position: relative;
}
.buttons {
    text-align: center;
}
}




